<%= stylesheet_link_tag '_navbar' %>

<nav class="navbar">

  <div class="navbar-brand">
    <a class="logo" href="#">Logo</a>
  </div>

  <div>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
    </ul>
  </div>
</nav>