/*testando estilos*/

h1{
  color: #FFFFFF;
  font-size: 50px;
  text-align: center;
}

.blackBox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #000000;
}